.chart__info-color-4 {
    width: 12px;
    height: 12px;
    border-radius: 4px;
    background-color: #2381FF;
}

.chart__info-color-5 {
    width: 12px;
    height: 12px;
    border-radius: 4px;
    background-color: #01AB6C;
}

.apexcharts-legend {
    opacity: 0;
    pointer-events: none;
}