.dashboard__container {
    gap: 2rem;
    justify-content: center;
}

.chart__title {
    font-size: 1rem;
}

@media screen and (min-width: 970px) {
    .dashboard__container {
        grid-template-columns: repeat(2, 340px);
        justify-content: center;
    }
}

@media screen and (min-width: 1024px) {
    .dashboard__container {
        grid-template-columns: repeat(3, 300px);
    }
}