/*=============== HOME ===============*/
.home__container {
  padding-top: 1rem;
  row-gap: 3rem;
}

.home__title {
  font-size: var(--biggest-font-size);
  color: var(--title-color);
  font-weight: 600;
  line-height: auto;
  margin-bottom: 1rem;
}

.home__description {
  margin-bottom: 2rem;
  line-height: 24px;
}

.button {
  display: inline-block;
  padding: 0.8rem 2rem;
  background-color: var(--first-color);
  color: var(--white-color);
  font-weight: var(--font-medium);
  border-radius: 0.25rem;
}

.home__image {
  justify-self: center;
  width: 300px;
}

/*===== MEDIA QUERIES =====*/
@media screen and (min-width: 576px) {
  .home__container {
    grid-template-columns: 400px;
    justify-content: center;
  }

  .home__data {
    text-align: center;
  }

  .home__image {
    justify-self: center;
    width: 330px;
  }
}

@media screen and (min-width: 768px) {
  .home__container {
    grid-template-columns: repeat(2, 300px);
    align-items: center;
    padding-top: 2rem;
    column-gap: 4rem;
  }

  .home__data {
    text-align: initial;
  }

  .home__image {
    width: 370px;
  }
}

@media screen and (min-width: 1024px) {
  .home__container {
    grid-template-columns: repeat(2, 400px);
    padding-top: 4.5rem;
    column-gap: 5rem;
  }

  .home__image {
    width: 450px;
  }

  .home__description {
    margin-bottom: 3.5rem;
  }
}
