.monitoramento__container {
  padding-top: 2rem;
}

.monitoramento__data {
  text-align: center;
  margin-bottom: 4.5rem;
}

.monitoramento__images {
  margin-bottom: 1.5rem;
}

.monitoramento__images img {
  width: 80px;
}

.monitoramento__title {
  font-size: 2rem;
  color: var(--title-color);
  font-weight: var(--font-bold);
}

/*========== SWIPER JS ==========*/
.swiper .swiper-pagination {
  position: initial;
  inset: 0;
  margin-top: 2rem;
}

.swiper .swiper-pagination-bullet {
  background-color: #b8b8b8;
}

.swiper .swiper-pagination-bullet-active {
  background-color:var(--first-color);
}

.swiper .swiper-slide  {
  width: 290px !important;
}

@media screen and (min-width: 1024px) {
  .monitoramento__content {
    margin: 0 auto;
    width: 935px;
  }
}