.state__container {
  grid-template-columns: 300px;
  justify-content: center;
  row-gap: 3rem;
  padding-top: 2rem;
}

.state__map {
  width: 300px;
  justify-self: center;
}

.state__form {
  text-align: center;
  display: grid;
  padding: 1.5rem 1rem;
  box-shadow: 0px 4px 30px 0px rgba(39, 69, 190, 0.06);
  border-radius: 1rem;
}

.state__logo {
  border: 2px solid var(--first-color);
  width: 60px;
  height: 60px;
  border-radius: 50%;
  display: grid;
  place-items: center;
  justify-self: center;
  margin-bottom: 1rem;
}

.state__logo i {
  color: var(--first-color);
  font-size: 1.25rem;
}

.state__title {
  font-weight: var(--font-semi-bold);
  color: var(--title-color);
  margin-bottom: 5.5rem;
}

/* state map */
.state__map {
  position: relative;
  display: grid;
  place-items: center;
}

.state__map-point {
  cursor: pointer;
  position: absolute;
  width: 28px;
  left: 4rem;
  top: 4rem;
}

.map__point-content {
  width: 200px;
  border-radius: .75rem;
  box-shadow: 6px 7px 50px 0px rgba(221, 221, 221, 0.20);
  backdrop-filter: blur(20px);
  padding: 1rem;
  background-color: rgba(255, 255, 255, 0.60);
  position: absolute;
  transform: scale(.1);
  opacity: 0;
  pointer-events: none;
  transition: transform .4s;
}

.state__map-point:hover .map__point-content {
  transform: scale(1);
  opacity: 1;
  pointer-events: initial;
}

.map__point-title {
  color: var(--title-color);
  font-weight: var(--font-medium);
  display: block;
  margin-bottom: .5rem;
}

.map__point-description {
  font-size: var(--small-font-size);
}

/* dropdown */
.state__dropdown {
  transform: translateY(-4rem);
  position: relative;
  width: max-content;
  justify-self: center;
  transition: 0.4s;
}

.dropdown__button,
.dropdown__item {
  display: flex;
  align-items: center;
  column-gap: 0.5rem;
}

.dropdown__button {
  background-color: var(--body-color);
  border: 1px solid #eaeaea;
  padding: 1rem;
  border-radius: 0.7rem;
  cursor: pointer;
}

.dropdown__icon,
.dropdown__icons {
  font-size: 1.25rem;
  color: var(--title-color);
}

.dropdown__name {
  font-weight: var(--font-medium);
}

.dropdown__icons {
  width: 24px;
  height: 24px;
  display: grid;
  place-items: center;
}

.dropdown__arrow,
.dropdown__close {
  position: absolute;
  transition: opacity 0.1s, transform 0.4s;
}

.dropdown__close {
  opacity: 0;
}

.dropdown__menu {
  border: 1px solid #eaeaea;
  background-color: var(--body-color);
  padding: 1rem 1.25rem;
  border-radius: 0.75rem;
  display: grid;
  row-gap: 1.5rem;
  position: absolute;
  width: 100%;
  left: 0;
  top: 4.5rem;
  transform: scale(0.1);
  transform-origin: 10rem -2rem;
  pointer-events: none;
  transition: opacity 0.4s, transform 0.4s;
  opacity: 0;
}

.dropdown__item {
  cursor: pointer;
  transition: color 0.3s;
}

.dropdown__item:hover {
  color: var(--first-color);
}

/* Rotate & hide icon */
.show-dropdown .dropdown__close {
  opacity: 1;
  transform: rotate(-180deg);
}

.show-dropdown .dropdown__arrow {
  opacity: 0;
  transform: rotate(-180deg);
}

/* show dropdown menu */
.show-dropdown.state__dropdown {
  margin-bottom: 11rem;
}

.show-dropdown .dropdown__menu {
  opacity: 1;
  transform: scale(1);
  pointer-events: initial;
}

/*===== MEDIA QUERIES =====*/
@media screen and (min-width: 576px) {
  
}

@media screen and (min-width: 768px) {
  .state__container {
    padding-top: 4rem;
    grid-template-columns: repeat(2, 300px);
    align-items: center;
    column-gap: 4.5rem;
  }

  .state__map {
    width: 350px;
  }
}

@media screen and (min-width: 1024px) {
  .state__map-point {
    width: 36px;
    top: 6rem;
    left: 7rem;
  }

  .state__container {
    padding-top: 4.5rem;
    grid-template-columns: 400px 300px;
    align-items: center;
  }

  .state__map {
    width: 400px;
  }
}

@media screen and (min-width: 1120px) {
  .state__container {
    padding-top: 5rem;
    grid-template-columns: 500px 300px;
    column-gap: 5rem;
  }

  .state__map {
    width: 500px;
  }
}
