

.apexcharts-zoomin-icon,
.apexcharts-zoomout-icon,
.apexcharts-zoom-icon,
.apexcharts-pan-icon,
.apexcharts-reset-icon,
.apexcharts-menu-icon {
    display: none;
    pointer-events: none;
}
/*
#SvgjsPath5849 {
    fill: rgba(255, 0, 0, 0.5); 
    stroke: #000; 
    stroke-width: 2px; 
}

.apexcharts-bar-area {
    border-radius: 2rem;
    fill: rgba(255, 0, 0, 0.5); 
    stroke: #000; 
    stroke-width: 2px;
}
*/